<div class="pagetitle">
  <h1><%= @page_title %></h1>
  <nav>
    <ol class="breadcrumb">
      <% breadcrumb_trail do |crumb| %>
        <li class="breadcrumb-item <%= crumb.current? ? "active" : "" %>">
          <% if crumb.url == "" %>
            <%= crumb.name %>
          <% else %>
            <%= link_to crumb.name, crumb.url, (crumb.current? ? {"aria-current" => "page"} : {}) %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
</div>
