<section class="section">
  <div class="row">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quill Editor Default</h5>

          <!-- Quill Editor Default -->
          <div class="quill-editor-default">
            <p>Hello World!</p>
            <p>This is Quill <strong>default</strong> editor</p>
          </div>
          <!-- End Quill Editor Default -->

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quill Editor Bubble</h5>

          <!-- Quill Editor Bubble -->
          <p>Select some text to display options in poppovers</p>
          <div class="quill-editor-bubble">
            <p>Hello World!</p>
            <p>This is Quill <strong>bubble</strong> editor</p>
          </div>
          <!-- End Quill Editor Bubble -->

        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quill Editor Full</h5>

          <!-- Quill Editor Full -->
          <p>Quill editor with full toolset</p>
          <div class="quill-editor-full">
            <p>Hello World!</p>
            <p>This is Quill <strong>full</strong> editor</p>
          </div>
          <!-- End Quill Editor Full -->

        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TinyMCE Editor</h5>

          <!-- TinyMCE Editor -->
          <textarea class="tinymce" data-controller="tinymce">
            <p>Hello World!</p>
            <p>This is TinyMCE <strong>full</strong> editor</p>
          </textarea><!-- End TinyMCE Editor -->

        </div>
      </div>
    </div>
  </div>
</section>
